<style>
    :root {
        /* --main-color: #2E9EE6;
        --main-color-daker: #3793ce; */

        --main-color: #e12e2e;
        --main-color-daker: #ba3636;
        --second-color: #ffb100;
    }
        nav h1.name {
            font-family: 'UTMEremitage', sans-serif;
            position: relative;
            top: 0px;
            display: block;
            font-size: 30px;
            color: var(--main-color);
            text-transform: uppercase;
            margin-top: 0px;
            margin-bottom: 0px;
            background: -webkit-linear-gradient(var(--main-color), var(--main-color-daker));
            background: -webkit-linear-gradient(var(--main-color), var(--main-color-daker));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        nav .slogan {
            font-family: roboto, sans-serif;
            font-size: 25px;
            /* text-transform: uppercase; */
            font-weight: 700;
            color: #f44846;
        }
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (min-width: 960px) {
        .logo {
            width: auto;
        }
    }

    a {
        text-decoration: none !important;
    }

</style>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5da47f9df82523213dc72dc3/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
<!-- START NAV -->
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light " style="width: 100%;">
            <div class="logo">
                    <div class="text-center">

                            <h1 class="name" style="width: 350px; font-size: 22px;">
            
                                <a href="/">Trung Tâm Gia Sư Cao Cấp</a>
                                <br />
                                <a href="/">Trung Tâm Gia Sư Bảo Trang</a>
            
                            </h1>
            
                            <div class="slogan">Học Là Giỏi -Thi Là Đỗ</div>
            
                        </div>
            </div>
            <div style="width: 100%;">
                <div class="hotline text-center text-lg-right mb-4">
                    <span>hotline (24/7):</span>
                    <a class="phone" href="tel:0383070388">038.307.0388</a>
                </div>
                <div class="button-wrapper d-flex flex-row-reverse">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span>Menu</span> <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="height: 100%;">
                    <ul class="my-nav navbar-nav nav-pills ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link <%= active === 'home' ? 'active' : '' %>" href="/">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle <%= active === 'category' ? 'active' : '' %>" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                Danh mục gia sư
                            </a>
                            <div class="my-dropdown dropdown-menu">
                                <div class="container">
                                    <div class="row">
                                        <% parentCategories.forEach(function(parent){ %>
                                            
                                            <div class="col-6 mb-4 mb-md-0 col-md-3">
                                                <a class="title" href="/category/<%= parent.id %>"><i class="fa fa-graduation-cap"
                                                        aria-hidden="true"></i> <%= parent.name %></a>
                                                <ul>
                                                    <% categories.forEach(function(category){ %>
                                                        <% if(parent.level === category.level) { %>
                                                        <li><a href="/<%= category.id %>"><%= category.name %></a></li>
                                                        <% } %>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                            
                                        <% }) %>                               

                                        <!-- <div class="col-6 mb-4 mb-md-0 col-md-3">
                                            <a class="title" href="/sub-category.html"><i class="fa fa-graduation-cap"
                                                    aria-hidden="true"></i> Gia sư cấp
                                                2</a>
                                            <ul>
                                                <li>lowp 11</li>
                                                <li>lowp 12</li>
                                                <li>lowp 13</li>
                                            </ul>
                                        </div>

                                        <div class="col-6 mb-4 mb-md-0 col-md-3">
                                            <a class="title" href="/sub-category.html"><i class="fa fa-graduation-cap"
                                                    aria-hidden="true"></i> Gia sư cấp
                                                3</a>
                                            <ul>
                                                <li>lowp 11</li>
                                                <li>lowp 12</li>
                                                <li>lowp 13</li>
                                            </ul>
                                        </div>

                                        <div class="col-6 mb-4 mb-md-0 col-md-3">
                                            <a class="title" href="/sub-category.html"><i class="fa fa-graduation-cap"
                                                    aria-hidden="true"></i> Gia sư cấp
                                                4</a>
                                            <ul>
                                                <li>1lowp 1</li>
                                                <li>2lowp 1</li>
                                                <li>lowp 13</li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= active === 'library' ? 'active' : '' %>" href="/thu-vien">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                Thư viện hình ảnh
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link  <%= active === 'contact' ? 'active' : '' %>" href="/lien-he">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- END NAV -->